/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
  --background: #ffffff;           /* Light background */
  --foreground: #1C3D2F;           /* Dark green foreground */

	--primary: #db9b8c; /* Orange */
	--primary-foreground: #ffffff; /* White on orange */
	--secondary: #1c3d2f; /* Dark green */
	--secondary-foreground: #ffffff; /* White on orange */

	--muted: #f0f0f0; /* Light grey for muted text */
	--muted-foreground: #1c3d2f; /* Dark green for muted text */
	--border: #dddddd; /* Light grey for borders */
	--input: #f7f7f7; /* Light grey for inputs */
	--ring: #1c3d2f; /* Dark green for focus rings */
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #1c3d2f;
    --foreground: #ffffff;

    --primary: #db9b8c;
    --primary-foreground: #1c3d2f;
    --secondary: #1c3d2f;
    --secondary-foreground: #ffffff;
  }
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1c3d2f;
    --foreground: #ffffff;

    --primary: #db9b8c;
    --primary-foreground: #1c3d2f;
    --secondary: #1c3d2f;
    --secondary-foreground: #ffffff;
  }
} */

/* Base Styles */
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-[var(--background)] text-[var(--foreground)];
	}
}

/* Headings */
section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
	color: var(--secondary);
}

/* Links */
a {
	color: var(--secondary);
	text-decoration: none;
	transition: color 0.3s;
}

a:hover {
	color: var(--primary);
}

/* Buttons */
button {
	background-color: var(--secondary);
	color: var(--secondary-foreground);
	transition: background-color 0.3s, color 0.3s;
}

button:hover {
	background-color: var(--primary);
	color: var(--primary-foreground);
}

/* add styling to make main component flex 1 */
main {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.link {
  position: relative;
  text-decoration: none;
  color: var(--secondary);
}

.link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px; /* Adjust thickness here */
  bottom: -2px; /* Adjust position here */
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.link:hover::after,
.link:focus::after {
  width: 100%;
}

.link.active::after {
  width: 100%;
}

